$color-primary: #c69963;
$color-primary-dark: #5d462a;

$color-black: black;
$color-white: white;


$color-dark: #726d6d;
$color-yellow: #e3a21a;

$font-family: 'Nunito', sans-serif;


// breakpoint 
$layout-breakpoint-small: 1220px;

